<div class="training-body">
    <div  class="exercis">
        <form 
            class="login-f" 
            [formGroup]="formUpdate"
            (ngSubmit)="onSubmit($event)"
        >
            <div class="form">
                <input type="hidden"  formControlName="id">
                <input type="hidden"  formControlName="trainingId">
                <input type="text"  formControlName="title"  placeholder="Название">
                <input type="text"  formControlName="weight" placeholder="Вес">
                <input type="text"  formControlName="iteration"  placeholder="Подходы">
                <input type="text"  formControlName="repetition"  placeholder="Повторения">
                <input type="hidden"  formControlName="userId" >
            </div>
            <div  class="btn-div">
                <button type="submit">
                    <app-check-button></app-check-button>
                </button>
                <app-cancel-button (click)="change(flag)"></app-cancel-button>
            </div> 
        </form>
    </div>
</div>