<form 
    class="login-f" 
    [formGroup]="formRegistration"
    (ngSubmit)="onSubmit($event)"
>
    <h1>Регистрация</h1>
    <label for="username">
      Придумайте Логин
      <input id="username-reg" formControlName="username" type="text" placeholder="Введите логин">
    </label>
    <br>
    <label for="password">
      Придумайте Пароль
      <input id="password-reg" formControlName="password" type="password" placeholder="Введите Пароль">
    </label>
    <br>
    <button class="btn-form" type="submit"><span>Зарегестрироваться</span></button>
    <br>
    <br>
    <a (click)="change(flag)">Есть аккаунт? Войти.</a>
</form>