<form 
  class="login-f" 
  [formGroup]="formLogin"
  (ngSubmit)="onSubmit($event)"
>
  <h1>Вход</h1>
  <label for="username">
    Логин
    <input id="username" formControlName="username" type="text" placeholder="Введите логин">
  </label>
  <br>
  <label for="password">
    Пароль
    <input id="password" formControlName="password" type="password" placeholder="Введите Пароль">
  </label>
  <br>
  <button class="btn-form" type="submit"><span>Войти</span></button>
  <br>
  <br>
  <a (click)="change(haveAcc)">Нет аккаунта? Зарегистрироваться.</a>
</form>