<div class="pop-up-wrapper">
    <div class="pop-up" *ngIf="training">
        <h1>Введите название тренировки</h1>
            <form 
                class="form" 
                [formGroup]="formCreateTraining"
                (ngSubmit)="onSubmit($event)"
            >   
                <input type="hidden" formControlName="userId" placeholder="ID юзера">
                <input type="text" formControlName="title" placeholder="Название тренировки">
                <div class="div-btn">
                    <button class="submit" type="submit">
                        <app-check-button></app-check-button>
                    </button>
                    
                    <app-cancel-button (click)="change(flag)"></app-cancel-button>
                </div>
            </form>
    </div>


    <div class="pop-up" *ngIf="!training">
        <h1>Добавьте упражнение</h1>
        <form 
            class="form" 
            [formGroup]="formCreateExercise"
            (ngSubmit)="onSubmit($event)"
        >  
            <div class="exercis">
                <input type="hidden" formControlName="userId">
                <input type="hidden" formControlName="trainingId">
                <input type="text" formControlName="title" placeholder="Название упражнения">
                <input type="text" formControlName="weight" placeholder="Вес">
                <input type="number" formControlName="iteration" placeholder="Подходы">
                <input type="number" formControlName="repetition" placeholder="Повторения">
            </div>
            <div class="div-btn">
                <button class="submit" type="submit">
                    <app-check-button></app-check-button>
                </button>
                <app-cancel-button (click)="change(flag)"></app-cancel-button>
            </div>
        </form>
    </div>
</div>