.training{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.training a{
    display: inline-block;
    padding: 8px 16px ;
    border: 1px solid #363740;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    color: #F0F1F0;
    text-decoration: none;
    transition: 300ms;
}
.training a:hover{
    border-color: blueviolet;
    box-shadow: 1px 0px 5px 1px blueviolet;
}
.training-btn{
    display: flex;
    align-self: center;
    justify-content: center;
}

