.training-body{
    padding: 10px;
    color: #F0F1F0;
    display: flex;
    justify-content: space-between;
}
.exercis{
    border: 1px solid #363740;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
}
.exercis div{
    display: flex;
    justify-content: space-between;
}
.btn-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}