<div  class="training-body">
    <div  class="exercis">
        <div>
            <span>{{item.title}} {{item.weight}} {{item.iteration}}x{{item.repetition}}</span>
            <!-- <span>
                <app-checkbox *ngFor="let i of createArray(item.iteration); let index = index" 
                    [name]="item.id + '-' + (index + 1)">
                </app-checkbox>
            </span> -->
        </div>
    </div>
    <div  class="btn-div">
        <app-change-button (click)="change(flag)"></app-change-button>
        <app-delete-button></app-delete-button>
    </div>    
</div>